<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Gr4vy_Magento::Buyer" title="Buyer" sortOrder="10">
					<resource id="Gr4vy_Magento::Buyer_save" title="Save Buyer" sortOrder="10"/>
					<resource id="Gr4vy_Magento::Buyer_delete" title="Delete Buyer" sortOrder="20"/>
					<resource id="Gr4vy_Magento::Buyer_update" title="Update Buyer" sortOrder="30"/>
					<resource id="Gr4vy_Magento::Buyer_view" title="View Buyer" sortOrder="40"/>
				</resource>
				<resource id="Gr4vy_Magento::Transaction" title="Transaction" sortOrder="10">
					<resource id="Gr4vy_Magento::Transaction_save" title="Save Transaction" sortOrder="10"/>
					<resource id="Gr4vy_Magento::Transaction_delete" title="Delete Transaction" sortOrder="20"/>
					<resource id="Gr4vy_Magento::Transaction_update" title="Update Transaction" sortOrder="30"/>
					<resource id="Gr4vy_Magento::Transaction_view" title="View Transaction" sortOrder="40"/>
				</resource>
				<resource id="Gr4vy_Magento::Method" title="Method" sortOrder="10">
					<resource id="Gr4vy_Magento::Method_save" title="Save Method" sortOrder="10"/>
					<resource id="Gr4vy_Magento::Method_delete" title="Delete Method" sortOrder="20"/>
					<resource id="Gr4vy_Magento::Method_update" title="Update Method" sortOrder="30"/>
					<resource id="Gr4vy_Magento::Method_view" title="View Method" sortOrder="40"/>
				</resource>
				<resource id="Gr4vy_Magento::Service" title="Service" sortOrder="10">
					<resource id="Gr4vy_Magento::Service_save" title="Save Service" sortOrder="10"/>
					<resource id="Gr4vy_Magento::Service_delete" title="Delete Service" sortOrder="20"/>
					<resource id="Gr4vy_Magento::Service_update" title="Update Service" sortOrder="30"/>
					<resource id="Gr4vy_Magento::Service_view" title="View Service" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
