<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- pass gr4vy variables to checkout page -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="gr4vy" xsi:type="object">Gr4vy\Payment\Model\Payment\PaymentFormProvider</item>
            </argument>
        </arguments>
    </type>
</config>
