<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="gr4vy_section" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <comment>
                    <![CDATA[
                    <div class="gr4vy-payment-logo"></div>
                    <div class="gr4vy-payment-text">
                    Your Payments Team In The Cloud.
                    <br/>Gr4vy is the only payment orchestration platform built natively in the Cloud giving you scale and control of your payment stack from anywhere.
                    </div>
                    ]]>
                </comment>
                <fieldset_css>complex gr4vy-section</fieldset_css>
                <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <group id="api" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>API Configuration</label>
                    <field id="version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Information</label>
                        <frontend_model>Gr4vy\Magento\Block\System\Config\Version</frontend_model>
                    </field>
                    <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="payment_type" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
                        <label>Display Type</label>
                        <source_model>Gr4vy\Magento\Model\Source\PaymentType</source_model>
                    </field>
                    <field id="id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label>Gr4vy ID</label>
                    </field>
                    <field id="private_key" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="25" showInDefault="1" showInWebsite="1" >
                        <label>Private Key</label>
                        <backend_model>Gr4vy\Magento\Model\Source\PrivateKey</backend_model>
                        <upload_dir config="system" scope_info="1">gr4vy</upload_dir>
                    </field>
                    <field id="environment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="25" translate="label" type="select">
                        <label>Environment</label>
                        <source_model>Gr4vy\Magento\Model\Source\Environment</source_model>
                    </field>
                    <field id="debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                        <label>Enable Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="payment_store" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="34" translate="label" type="select">
                        <label>Payment Store</label>
                        <comment>Explicitly store the payment method or ask the buyer</comment>
                        <source_model>Gr4vy\Magento\Model\Source\PaymentStore</source_model>
                    </field>
                    <field id="payment_action" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="35" translate="label" type="select">
                        <label>Payment Action</label>
                        <source_model>Gr4vy\Magento\Model\Source\PaymentAction</source_model>
                    </field>
                    <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                        <label>Title</label>
                    </field>
                    <field id="instructions" type="textarea" sortOrder="45" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Instructions</label>
                    </field>
                    <field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                    </field>
                    <field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="allowspecific">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="multiselect">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="text">
                        <label>Sort Order</label>
                    </field>
                </group>
                <group id="options" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Options</label>
                    <field id="payment_source" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                        <label>Payment Source</label>
                        <source_model>Gr4vy\Magento\Model\Source\PaymentSource</source_model>
                    </field>
                    <field id="custom_data" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label>Custom Data</label>
                    </field>
                    <field id="statement_descriptor" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                        <label>Enable Statement Descriptor</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sd_name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                        <label>Statement Name</label>
                        <depends>
                            <field id="statement_descriptor">1</field>
                        </depends>
                    </field>
                    <field id="sd_description" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
                        <label>Statement Description</label>
                        <depends>
                            <field id="statement_descriptor">1</field>
                        </depends>
                    </field>
                    <field id="sd_city" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
                        <label>Statement City</label>
                        <depends>
                            <field id="statement_descriptor">1</field>
                        </depends>
                    </field>
                    <field id="sd_phonenumber" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="text">
                        <label>Statement Phone number</label>
                        <depends>
                            <field id="statement_descriptor">1</field>
                        </depends>
                    </field>
                    <field id="sd_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="text">
                        <label>Statement Url</label>
                        <depends>
                            <field id="statement_descriptor">1</field>
                        </depends>
                    </field>
                </group>
                <group id="theme" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Theme</label>
                    <field id="fonts" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                        <label>Enable Fonts Config</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="font_body" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Font Body</label>
                        <comment>Body - Used for all text</comment>
                        <depends>
                            <field id="fonts">1</field>
                        </depends>
                    </field>
                    <field id="colors" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="select">
                        <label>Enable Fonts Config</label>
                        <comment>Colors are named semantically, for example primary or danger. This allows us to update introduce new features or UI elements without explicitly requiring you to update your theme.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="color_text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="text">
                        <label>Text Color</label>
                        <comment>Text - Main body text, labels and headers</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_subtle_text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="text">
                        <label>Subtle Text Color</label>
                        <comment>Subtle Text - Hints and Smaller text, e.g. Card Expiry</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_label_text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="text">
                        <label>Lable Text Color</label>
                        <comment>Label Text - Labels for inputs can be a different color</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_primary" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="text">
                        <label>Primary Color</label>
                        <comment>Primary - Interactive elements or Brand</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_page_background" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="150" translate="label" type="text">
                        <label>Page Background Color</label>
                        <comment>Page - The main body/page of the Embed iFrame</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_container_background_unchecked" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="160" translate="label" type="text">
                        <label>Container Background Unchecked Color</label>
                        <comment>Container - Used for bounding elements, e.g. an individual payment option</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_container_background" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="170" translate="label" type="text">
                        <label>Container Background Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_container_border" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="180" translate="label" type="text">
                        <label>Container Border Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_input_border" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="190" translate="label" type="text">
                        <label>Input Border Color</label>
                        <comment>Input - Used for inputs</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_input_background" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label" type="text">
                        <label>Input Background Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_input_text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="210" translate="label" type="text">
                        <label>Input Text Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_input_radio_border" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="220" translate="label" type="text">
                        <label>Input Radio Border Color</label>
                        <comment>defaults to container border Color</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_input_radio_border_checked" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="230" translate="label" type="text">
                        <label>Input Radio Border Checked Color</label>
                        <comment>defaults to primary color</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_danger" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="240" translate="label" type="text">
                        <label>Danger Color</label>
                        <comment>Danger - Used for Error states or Destructive Action</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_danger_background" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="250" translate="label" type="text">
                        <label>Danger Background Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_danger_text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="260" translate="label" type="text">
                        <label>Danger Text Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_info" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="270" translate="label" type="text">
                        <label>Info Color</label>
                        <comment>Info - Used for information / loading states</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_info_background" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="280" translate="label" type="text">
                        <label>Info Background Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_info_text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="290" translate="label" type="text">
                        <label>Info Text Color</label>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="color_focus" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="300" translate="label" type="text">
                        <label>Focus Color</label>
                        <comment>Focus - Color of the focus ring if shadows.focus is not set.</comment>
                        <frontend_model>Gr4vy\Magento\Block\Adminhtml\System\Config\Fieldset\ColorPicker</frontend_model>
                        <depends>
                            <field id="colors">1</field>
                        </depends>
                    </field>
                    <field id="borders" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="400" translate="label" type="select">
                        <label>Enable Border Widths Config</label>
                        <comment>Borders can be set using an alias of thin for a 1px border width or thick for a 2px border width.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="border_container" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="410" translate="label" type="text">
                        <label>Container Border Width</label>
                        <comment>Container - A bounding layout element</comment>
                        <depends>
                            <field id="borders">1</field>
                        </depends>
                    </field>
                    <field id="border_input" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="420" translate="label" type="text">
                        <label>Input Border Width</label>
                        <comment>Input - A Form Input, e.g. Card Number</comment>
                        <depends>
                            <field id="borders">1</field>
                        </depends>
                    </field>
                    <field id="radii" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="500" translate="label" type="select">
                        <label>Enable Radii Config</label>
                        <comment>Radii can be set to either none, subtle or rounded. These aliases correspond to 0, 2px and 4px. Setting the radii to none will remove it entirely.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="radii_container" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="510" translate="label" type="text">
                        <label>Radii Container</label>
                        <comment>Container - A bounding layout element</comment>
                        <depends>
                            <field id="radii">1</field>
                        </depends>
                    </field>
                    <field id="radii_input" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="520" translate="label" type="text">
                        <label>Radii Container</label>
                        <comment>Input - A Form Input, e.g. Card Number</comment>
                        <depends>
                            <field id="radii">1</field>
                        </depends>
                    </field>
                    <field id="focus_ring" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="600" translate="label" type="select">
                        <label>Enable Focus Ring</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="focus_ring_shadows" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="610" translate="label" type="text">
                        <label>Focus Ring Shadows</label>
                        <comment>Focus Ring - Surrounds an element that is currently focused</comment>
                        <depends>
                            <field id="focus_ring">1</field>
                        </depends>
                    </field>
                </group>
			</group>
		</section>
	</system>
</config>
